
.form-img{
    display: block;
    margin: 90px 0 30px 0;
}

.form-img input{
    display: inline-block;
    padding: 10px 0 0 40px;
}

.form-img button{
    display: inline-block;
    margin: 0 0 5px 30px; 
}


.container-img{
    display: inline-block;
    margin: 10px 0 0 40px;
    width: 200px;
}

.img{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
    display: block;
    height: 100%;
    text-align: center;
    width: 100%;
}

.full-img{
    background-color: whitesmoke;
    width: 400px;
}

.delete-img{
    margin: 5px 0 0 0;
    display: block;
    text-align: center;
    text-decoration: none;
}

.delete-img:hover{
    text-decoration: none;
}

