
body {
    background-color: whitesmoke;
    margin: auto;
}

.form-login{
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 10% auto 0 auto;
    padding: 2% 4% 2% 4%;
    text-align: center;
    width: 30%;
}

#form-logito{
    display: block;
}

#form-save-user{
    display: none;
}

.form-login input{
    margin: 4% 0 0 0;
    text-align: center;
}

.form-login button{
    margin: 6% 0 0 0;
    width: 100%;
}

.form-login span{
    color: steelblue;
    margin: 3% 0 0 0;
    cursor: pointer;
}

#alert-login{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: none;
    margin: 1% auto 0 auto;
    text-align: center;
    width: 30%;
}