
#alert-login{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    display: none;
    margin: 1% auto 0 auto;
    text-align: center;
    width: 30%;
}

#alert-img{
    display: none;
    margin: -70px 0 0 500px;
    padding: 6px 0 6px 12px;
    position: fixed;
    width: 444px;
}