
#alert-login{
    display: none;
    margin: 10px auto;
    text-align: center;
    width: 400px;
}

#alert-img{
    display: none;
    margin: -150px 0 0 150px;
    padding: 6px 0 6px 12px;
    position: fixed;
    width: 250px;
}

